site_name: graphics memdump
theme:
  name: material
  custom_dir: overrides
  logo: img/dump.webp
  favicon: img/dump.webp
  font:
    text: PT Sans
  features:
    - toc.integrate
    - navigation.footer
    - navigation.expand
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      accent: amber
      scheme: default
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      primary: grey
      accent: amber
      scheme: default 
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      primary: black
      accent: amber
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to system preference

copyright: Copyright &copy; 2024 Andy Chan

extra:
  social:
    - icon: fontawesome/brands/mastodon 
      link: https://mastodon.gamedev.place/@tkchanat
    - icon: fontawesome/brands/github
      link: https://github.com/tkchanat
    - icon: fontawesome/brands/twitter
      link: https://twitter.com/tkchanat1
    - icon: fontawesome/brands/linkedin
      link: https://www.linkedin.com/in/andy-chan-9b8294155/
    - icon: fontawesome/solid/paper-plane
      link: mailto:andychancse@gmail.com

extra_javascript:
  - js/mathjax.js
  - js/desmos.min.js
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
  - https://cdn.plot.ly/plotly-2.18.2.min.js
  - https://cdnjs.cloudflare.com/ajax/libs/seedrandom/2.3.10/seedrandom.min.js
  - js/plot.js

extra_css:
  - stylesheets/app.css

markdown_extensions:
  - attr_list
  - admonition
  - footnotes
  - pymdownx.critic
  - pymdownx.details
  # Code highlighting with line numbers and spans
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  # Caret, Mark, Tilde
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  # Mathematical notation support
  - pymdownx.arithmatex:
      generic: true
  # Emoji support
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg

plugins:
  - search